{% extends 'base.html.twig' %}

{% block title %}Joshu GPT{% endblock %}

{% block body %}
<section id="answers" class="flex flex-col-reverse flex-auto mb-1 w-full overflow-auto">
    {{ component('gpt_responses') }}
</section>

<div
    id="prompt-form"
    class="mx-auto text-center w-1/2"
>
    {{ component('prompt_form') }}
</div>

{% endblock %}
