@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(206, 205, 195);
    background-color: rgb(16, 15, 15);
}

header {
    font-family: Play, sans-serif;
}

header h1 {
    font-size: 24pt;
    font-weight: bolder;
    padding-top: 0.25em;
    padding-left: 0.75em;
}

#content {
    background-color: rgb(28, 27, 26);
}

textarea {
    background-color: rgb(87, 86, 83);
    border: 2px solid rgb(67, 133, 190);
}

.response {
    background-color: rgb(64, 62, 60);
    border: 2px solid lightgray;
}
